.footer-section {
  background-color: black;
  min-height: 300px;
  padding: 20px 0;
}
.footer-section h4 {
  color: white;
  padding: 10px 0;
}

.footer-section p {
  color: rgb(171, 171, 171);
}

.footer-section span {
  display: block;
  color: rgb(171, 171, 171);
  margin-top: 7px;
}
.footer-link {
  color: rgb(171, 171, 171);
  text-decoration: none;
}
hr {
  border-bottom: 1px solid white;
}
.footer-section h6 {
  color: rgb(196, 196, 196);
  margin-top: 10px;
}
